body {
    max-width: 1200px;
    margin: auto;
    background-color: #FBF5DD;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    gap: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    background-color:#A6CDC6;
    grid-column: 1/5;
    grid-row: 1;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);/*Förslag för att ge en lyxigare känsla av sidan*/
}
header img {
    padding: 1rem;
    padding-left: 2rem;
    height: 6rem;
    align-self: center;
}
header h1 {
    align-self: center;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}
header ul {
    display: flex;
    list-style: none;
    align-items: flex-end;
    font-size: 1.3rem;
    position: relative;
}
header li {
    font-size: 100%;
    display: inline-block;
    padding: 0.7rem;
    cursor: pointer;
    position: relative;
}
.drop-down {
    position: absolute;
    display: none;
    top: 100%;
    overflow: visible;
    left: 13rem;
    border-radius: 1rem;
}
header li:last-child {
    margin-right: 5rem;
}
header a {
    text-decoration: none;
    color: black;
}
header li:hover {
    background-color: #16404D;
    color: #DDA853;
    border-radius: 1rem;
    scale: 1.1;
    transition: 0.4s ease-in-out;
}

.index_book_page {
    grid-column: 1/4;
    grid-row: 2;
    padding: 1rem;
    display: flex;
}
.bookCover {
    max-height: 400px;
    overflow: hidden;
    padding: 1rem;
    width: 30%;
}
.index-book {
    flex: 1;
    padding: 1rem;
}
.index-book h2 h3 {
    position: relative;
    float: left;
    grid-column: 2/3;
}
.index-book h3 {
    margin: 0;
}
.text-container {/*Håller instälningar för drop down function*/
    max-height: 160px;
    overflow: hidden;/*Döljer texten som inte visas*/
    transition: max-height 1s ease-in-out 0.2s;
    display: -webkit-box;
    -webkit-box-orient: vertical;/*Behövs för funtinen under då den förbereder för den*/
    -webkit-line-clamp: 7;/*Begränsar antalet rader som visas samt lägger till ... i slutet*/
}
.text-container.open{
    max-height: 2000px;
    -webkit-line-clamp: unset;/*Ändrar värdet från 7 till ospesifickt*/
}
.read-more { 
    cursor: pointer;
    text-decoration: underline;
}
aside {
    grid-column: 4;
    grid-row: 2;
}

footer {
    grid-column: 1/5;
    grid-row: 3/4;
    background-color: #A6CDC6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);/*Förslag för att ge ett djup*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer p {
    flex-basis: 40%;
    padding-left: 1%;
    padding-right: 1%;
}
.footer-img {
    align-self: center;
    border: none;
    flex-basis: 5%;
    padding: 1rem;
}
footer ul {
    flex-basis: 10%;
    padding-left: 3%;
    padding-right: 3%;
    list-style: none
}
footer li a {
    color: black;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
}
footer li:hover {
    background-color: #16404D;
    padding: 0.4;
    border-radius: 1rem;
}

.book_page {
    grid-column: 1/5;
    grid-row: 2/2;
    padding: 1rem;
    display: flex;
}
.book_page_img {
    max-height: 450px;
    padding: 2rem;
    order: 1;/*Plaserar bilden till höger*/
}
.book_page_text {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 3rem;
}
.book_page_text h3 {
    margin: 0;
}
.book_page_text h2 {
    margin-top: 5%;
}
.book_page_text p::first-letter {
    font-size: xx-large;
}

.meny_books {
    grid-column: 1/-1;
    columns: 3; /*Dellar upp innehålet i tre kolumer,Skappar en tidnings print patern. Behövs för att Fierfox skall fungera*/
    -webkit-columns:3;/*Fyller samma funtion som column fast för äldre webbläsare. Behövs för att Crome & Edge skall fungera*/
    padding: 2rem;
}
.meny_books ul {
    margin: 0;
}

.about_me {
    grid-column: 1/-1;
    grid-row: 2/2;
    display: flex;
    padding: 1rem;
}
.about_me img {
    max-height: 20rem;
    width: auto;
    padding: 2em;
    order: 1;
}
.about_me_text {
    padding: 1rem;
}
.about_me_text form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_me_text button {
    margin: 1rem;

}

@media screen and (max-width: 768px){
    header {
        flex-direction: column;
        text-align: center;
    }
    header h1 {
        margin-left:0;
    }
    header ul {
        flex-direction: column;
        align-items: center;
    }
    header li:last-child {
        margin: 0;
    }
    .drop-down {/*Plaserar den korekt vid litten skärm*/
        left: 60%;
        top: 50%;
    }

    .index_book_page {
        grid-column: 1/-1;
        display: flex;
        flex-direction: column;
    }
    .bookCover {
        align-self: center;
        max-width: 200px;
        width: 50%;
        height: auto;
    }
    .index-book {
        width: 90%;/*Hade problem med text utanför box så skapat för att säckra att ta bort detta*/
    }
    aside {/*Gömer den då det inte är visentlig information och skulle dra ner på användaruplevelsen*/
        display: none;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
    }
    footer p {/*Ikånerna delade på sig så flyttade texten för bätre upplevelse*/
        width: 90%;
        padding: 0;
        order: 1;
    }
    footer ul {
        flex-direction: column;
        white-space: nowrap;
    }

    .book_page {
        flex-direction: column;
    }
    .book_page_img {
        align-self: center;
        width: 50%;
        height: auto;
        order: 0;
    }
    .book_page_text {
        margin: 0;
        padding: 0.5em;
        width: 90%;
    }
    .meny_books {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about_me {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .about_me img {
        align-self: center;
        order: 0;
        max-width: 70%;
        height: auto;
    }
}
@media screen and (min-width:769px) and (max-width: 1059px){/*För de dellar som behöver ändras innan mobil*/
    header {
        justify-content: center;
    }
    .bookCover {
        width: auto;
        max-height: 300px
    }
    .book_page_img {
        width: auto;
        }
    .about_me img {
        max-width: 50%;
        padding: 1rem;
        height: auto;
    }
}
@media screen and (max-width:424px) {
    .about_me_text form {/*Då den inte skallars ner efter denna storleken*/
        display: none;
    }
}